<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>ExpensesApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Controller</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>servlet.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login_Controller</display-name>
    <servlet-name>Login_Controller</servlet-name>
    <servlet-class>servlet.Login_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_Controller</servlet-name>
    <url-pattern>/Login_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainServlet</display-name>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>servlet.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/MainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateSrevlet</display-name>
    <servlet-name>CreateSrevlet</servlet-name>
    <servlet-class>servlet.CreateSrevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateSrevlet</servlet-name>
    <url-pattern>/CreateSrevlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCreate</display-name>
    <servlet-name>GetCreate</servlet-name>
    <servlet-class>servlet.GetCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCreate</servlet-name>
    <url-pattern>/GetCreate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateServlet</display-name>
    <servlet-name>CreateServlet</servlet-name>
    <servlet-class>servlet.CreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateServlet</servlet-name>
    <url-pattern>/CreateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToMainServlet</display-name>
    <servlet-name>ToMainServlet</servlet-name>
    <servlet-class>servlet.ToMainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToMainServlet</servlet-name>
    <url-pattern>/ToMainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditServlet</display-name>
    <servlet-name>EditServlet</servlet-name>
    <servlet-class>servlet.EditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServlet</servlet-name>
    <url-pattern>/EditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SeartchServlet</display-name>
    <servlet-name>SeartchServlet</servlet-name>
    <servlet-class>servlet.SeartchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeartchServlet</servlet-name>
    <url-pattern>/SeartchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewServlet</display-name>
    <servlet-name>ViewServlet</servlet-name>
    <servlet-class>servlet.ViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewServlet</servlet-name>
    <url-pattern>/ViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEdit</display-name>
    <servlet-name>GetEdit</servlet-name>
    <servlet-class>servlet.GetEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEdit</servlet-name>
    <url-pattern>/GetEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToSeartch</display-name>
    <servlet-name>ToSeartch</servlet-name>
    <servlet-class>servlet.ToSeartch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToSeartch</servlet-name>
    <url-pattern>/ToSeartch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToDelete</display-name>
    <servlet-name>ToDelete</servlet-name>
    <servlet-class>servlet.ToDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToDelete</servlet-name>
    <url-pattern>/ToDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToCreate</display-name>
    <servlet-name>ToCreate</servlet-name>
    <servlet-class>servlet.ToCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToCreate</servlet-name>
    <url-pattern>/ToCreate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToSignUp</display-name>
    <servlet-name>ToSignUp</servlet-name>
    <servlet-class>servlet.ToSignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToSignUp</servlet-name>
    <url-pattern>/ToSignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetSignUp</display-name>
    <servlet-name>GetSignUp</servlet-name>
    <servlet-class>servlet.GetSignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSignUp</servlet-name>
    <url-pattern>/GetSignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToLogin</display-name>
    <servlet-name>ToLogin</servlet-name>
    <servlet-class>servlet.ToLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToLogin</servlet-name>
    <url-pattern>/ToLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetLogin</display-name>
    <servlet-name>GetLogin</servlet-name>
    <servlet-class>servlet.GetLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetLogin</servlet-name>
    <url-pattern>/GetLogin</url-pattern>
  </servlet-mapping>
</web-app>